*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */

header{
  background-color: white;
  padding: 10px 10px;
}
header h1{
  display: inline-block;
  font-size: 40px;
}
header img{
  vertical-align: top;
}

/* /HEADER */

/* MAIN */

.container{
  background-color: white;
  border-radius: 5px;
  width: 50%;
  max-width: 1200px;
  margin: 50px 200px;
}

#container1{
  padding: 20px 20px;
}

main #container1 span{
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  width: 100px;
  height: 35px;
}

.blue{
  background-color: rgb(77, 139, 231);
  color: white;
}

#btn2{
  color: grey;
  border: 1px solid grey;
}




/* /MAIN */