*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */

header{
  background-color: white;
  padding: 10px 10px;
}
header h1{
  display: inline-block;
  font-size: 40px;
}
header img{
  vertical-align: top;
}

/* /HEADER */

/* MAIN */

.container{
  background-color: white;
  border-radius: 5px;
  width: 70%;
  max-width: 1000px;
  margin: 50px auto;
}

#container1{
  padding: 20px 20px;
}

#container2{
  margin-top: -45px;
}

main #container1 span{
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  width: 100px;
  height: 35px;
}

.blue{
  background-color: rgb(77, 139, 231);
  color: white;
}

#btn2{
  color: grey;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0);
}

.group{
  display: inline-block;
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 100px;
  font-size: 0.7rem;
  margin-left: 5px;
}

main #container2 section{
  padding: 20px 20px;
}

.checkmark{
  display: inline-block;
  width: 20px;
  color: green;
  border: 1px solid green;
  border-radius: 50px;
  text-align: center;
  margin-right: 10px;
}

.cross{
  display: inline-block;
  width: 20px;
  color: red;
  border: 1px solid red;
  border-radius: 50px;
  text-align: center;
  margin-right: 10px;
}

#container2 section p{
  display: inline-block;
  padding: 10px 0;
}


.orange{
  color: white;
  background-color: orange;
}

.purple{
  color: white;
  background-color: rgb(170, 96, 240);
}

.green{
  color: white;
  background-color: rgb(43, 211, 155);
}

.pink{
  color: white;
  background-color: rgb(216, 91, 154);
}

.yellow{
  color: white;
  background-color: rgb(233, 233, 58);
}


/* /MAIN */